<body>

    <nav></nav>
    <main></main>
    <footer>2023 | Developed by @salomaotech</footer>

    <script>

        $(document).ready(function () {

            /* new page */
            var page = new Page();
            page.setTitle("PitayaJS Front-end Framework");
            page.setDescription("Home page of PitayaJS Front-end Framework");
            page.addStyleCss("assets/css/main.css");

            /* add widgets to home page */
            var widget = new Widget();
            widget.prependTo("nav/nav", "nav");
            widget.prependTo("presentation-demo/center-logo", widget.prependTo("texts/h1-gradient", "main"));
            widget.load();

        });

    </script>

</body>