<body>

    <script>

        $(document).ready(function () {

            body = new Body();
            body.setTitle("PitayaJS frontend framework.");
            body.setDescription("Home page of PitayaJS frontend framework.");

            var loadComponent = new LoadComponent();

            /* add component */
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");

            /* add component */
            loadComponent.appendTo("center-block", "body");
            loadComponent.appendTo("center-block2", "body");
            loadComponent.appendTo("center-block", "body");
            loadComponent.appendTo("center-block2", "body");
            loadComponent.appendTo("center-block", "body");
            loadComponent.appendTo("center-block2", "body");
            loadComponent.appendTo("center-block", "body");
            loadComponent.appendTo("center-block2", "body");

            /* build */
            loadComponent.build();

        });

    </script>

</body>