<body>

    <script>

        $(document).ready(function () {

            body = new Body();
            body.setTitle("PitayaJS frontend framework.");
            body.setDescription("Home page of PitayaJS frontend framework.");

            var loadComponent = new LoadComponent();
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.prependTo("center-block", "body");
            loadComponent.prependTo("center-block2", "body");
            loadComponent.build();

            // body.addBodyContentAppendTo("<h1>PitayaJS frontend framework</h1>");

        });

    </script>

</body>