<body>

    <nav></nav>
    <main></main>
    <footer></footer>

    <script>

        $(document).ready(function () {

            /* new page */
            var page = new Page();
            page.setTitle("Sobre - PitayaJS");
            page.setDescription("PitayaJs é um framework front-end que constrói páginas HTML através de componentes chamados widgets.");
            page.addStyleCss("assets/css/main.css");

            /* add widgets to home page */
            var widget = new Widget();
            widget.prependTo("nav/nav", "nav");
            widget.prependTo("footer/footer", "footer");
            var widgetAlignCenter = widget.prependTo("align/align-center", "main");
            var widgetTextoGradient = widget.appendTo("texts/gradient", widgetAlignCenter);
            widget.prependTo("presentation-demo/center-logo", widgetAlignCenter);
            widget.prependTo("presentation-demo/sobre", widgetTextoGradient);
            widget.load();

        });

    </script>

</body>